@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: white;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  padding-top: 20px;
 

  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  
  border-radius: 10px;
  border: 2px solid var(--color-dark-50);
  box-shadow: 0 4px 8px 0 rgba(163, 163, 163, 0.2), 0 6px 20px 0 rgba(140, 140, 140, 0.19);

  
}

.title {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  
 
}